//light mode colors
$light-title-color: #2c2e33;
$light-input-bg-color: #fff;
$light-input-text-color: #2c2e33;
$light-button-bg-color: #03a9f4;
$light-button-text-color: #fff;

//dark mode colors
$dark-title-color: #fff;
$dark-input-bg-color: #fff;
$dark-input-text-color: #2c2e33;
$dark-button-bg-color: #1971c2;
$dark-button-text-color: #fff;

//settings colors for component
.light {
  .SearchingInput-title {
    color: $light-title-color;
  }

  .SearchingInput-form {
    &__input {
      background: $light-input-bg-color;
      color: $light-input-text-color;
    }
  }

  .SearchingInput-btn {
    &--primary {
      background: $light-button-bg-color;
      color: $light-button-text-color;

      &:hover {
        background: darken($light-button-bg-color, 4%);
      }

      &:active {
        background: $light-button-bg-color;
      }
    }
  }
}

.dark {
  .SearchingInput-title {
    color: $dark-title-color;
  }

  .SearchingInput-form {
    &__input {
      background: $dark-input-bg-color;
      color: $dark-input-text-color;
    }
  }

  .SearchingInput-btn {
    &--primary {
      background: $dark-button-bg-color;
      color: $dark-button-text-color;

      &:hover {
        background: darken($dark-button-bg-color, 4%);
      }

      &:active {
        background: $dark-button-bg-color;
      }
    }
  }
}

//styles component
.SearchingInput-container {
  background: transparent;
  font: 1rem "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SearchingInput-form {
  &__input {
    width: 25em;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border-radius: 5px;
    border: 0;
    outline: 0;
    padding: 22px 18px;
  }
}

.SearchingInput-btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  text-transform: uppercase;

  &--primary {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 12px 36px;
  }

  &:active {
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
  }

  &--inside {
    margin-left: -96px;
  }
}

