@use '../abstracts/colors' as *;

.light {
  --background: white;
  --background-container: hsla(0, 0%, 100%, 0.7);
  color: $dark-900;
}

.dark {
  --background: #000202;
  --background-container: #111111;
  color: $white;
}
